<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
      <title>Hello Kittens</title>
  </head>
  <body>
    {% block main %}
      <h1>Hello Kittens</h1>
      <p>This is a basic page using Twig.</p>
    {% endblock %}
  </body>
</html>