<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/views/css/index.css">
</head>
<body>
    <nav>
        <ul>
            <li><a href="{{path('home')}}">home</a></li>
            <li><a href="{{path('connect')}}">more kittens</a></li>
            <li><a href="#">about</a></li>
        </ul>
    </nav>
{% block content %}{% endblock %}
</body>
</html>