{% extends 'base.html.twig' %}

{% block main %}
  {# If a title is set, render it. #}
  {% if title %}
    <h1>{{ title }}</h1>
  {% endif %}
  {# If content is set, render it. #}
  {% if content %}
    <p>{{ content }}</p>
  {% endif %}
{% endblock %}